<ion-header>
    <ion-toolbar mode="ios">
        <ion-title>perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>

        <div class="infotop">
            <div class="disponibilidad">
                <h4 class="cuad">disponible</h4>

            </div>

            <h2 class="cuad">${{preciomin}}</h2>




        </div>
        <div class="info">
            <ion-grid>
                <ion-row>
                    <ion-col align-items-center>
                        <div class="picperf">
                            <ion-item lines="none">
                                <ion-avatar slot="start">
                                    <img [src]="this.imgrut">
                                </ion-avatar>
                            </ion-item>
                        </div>

                    </ion-col>

                </ion-row>

                <ion-row>
                    <ion-col>
                        <div class="data">
                            <h1 class="sinmargin">{{nameU}}</h1>
                            <h3 class="sinmargin">{{userp}}</h3>
                            <p class="sinmargin">{{ciudad}}</p>
                            <p class="morado ">{{tipo}}</p>
                        </div>
                    </ion-col>

                </ion-row>

                <ion-row>
                    <ion-col align-items-center>
                        <div class="picperf rank">
                            <ion-item lines="none" class="rank">
                                <h1 class="verde">{{calificacion}}</h1>
                                <ion-icon name="star" class="estrella rank"></ion-icon>
                            </ion-item>
                        </div>

                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="bot">
                        <ion-button expand="block" color="danger" mode="ios">contactar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>



        </div>



    </div>







</ion-content>